[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "==4.5.1"
mongomock = "==3.10.0"
pylint = "==2.0.0"
pytest = "==3.6.3"
requests_mock = "==1.5.2"
responses = "==0.6.0"

[packages]
blinker = "==1.4"
boto3 = "==1.8.6"
celery = "==4.2.1"
celery-cloudwatch-logs = "~=1.7"
cerberus = "==1.2"
click = "==6.7"
dateutils = "==0.6.6"
faker = "==0.8.17"
flask = "==1.0.2"
flask-cors = "==3.0.7"
flask-httpauth = "==3.2.4"
flask-mail = "==0.9.1"
flask-marshmallow = "==0.9.0"
flask-mongoengine = "==0.9.5"
flask-restful = "==0.3.6"
Flask-SSLify = "==0.1.5"
geocoder = "==1.38.1"
gunicorn = "==19.9.0"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
json-logging = "==0.0.11"
phonenumbers = "==8.10.3"
pluggy = "==0.6.0"
py = "==1.5.4"
python-dateutil = "==2.7.3"
python-dotenv = "==0.8.2"
pytz = "==2018.5"
redis = "==2.10.6"
requests = "==2.20.0"
simplejson = "==3.16.0"
six = "==1.11.0"
text-unidecode = "==1.2"
texttable = "==1.4.0"
typed-ast = "==1.1.0"
werkzeug = "==0.15.3"

[requires]
python_version = "3.6"
